<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  
<img src="https://www.shutterstock.com/image-vector/dots-letter-c-logo-design-260nw-551769190.jpg" alt="Logo" class="logo">
<h1>WELCOME to {{name}}</h1>
<div class="navigation">
  <a routerLink="/">Home</a>
  <a routerLink='/students'>Students</a>
  <a routerLink='/details'>Courses</a>
  <a routerLink='/data'>data</a>
  <a routerLink = '/api/news'>news</a>
  <a routerLink = '/api/peaky'>Peaky-blinders</a>
  <a routerLink = '/local'>Local Data</a>
  
</div>


</body>
</html>

<router-outlet></router-outlet>